<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">
    <header><% include ./partials/_header.ejs %></header>
    <%if (user) { %>
    <a href="/urls/new">Create a New Short Link</a>
    <h4 style="margin-top: 40px">My URLs</h4>
    <table class="table table-hover">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Short URL</th>
            <th scope="col">Long URL</th>
            <th scope="col" />
            <th scope="col" />
        </thead>

        <body>
            <% Object.keys(urls).forEach(function(url, index){ %>
            <th scope="row"><%=index+1%></th>
            <th><%= url %></th>
            </th>
            <th> <%= urls[url].longURL %>
            </th>
            <th>
                <a href="urls/<%= url %>" class="btn btn-link">Edit</a>
            </th>
            <th>
                <form method="POST" action="/urls/<%= url %>/delete">
            </th>
            <th><input class="btn btn-outline-dark" type="submit" value="Delete">
            </th>
            </form>
            </tr>
            <% }); %>
        </body>
    </table>
    <% }  else { %>
    <p class="alert alert-danger">Please Login or Register first!</p>
    <% } %>
</body>

</html>